{% extends 'cart/base.html' %}
{% load staticfiles %}



{% block css %}
"{% static 'cart/c.css' %}"
{% endblock css %}
{% block content %}

<div class="address">
  <form method="post">
      {% csrf_token %}
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <div class="inp">
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="mail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <div class="inp">
      <input type="email" class="form-control" id="mail" name="mail" placeholder="Email" required>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="contact" class="col-sm-2 col-form-label">Contact</label>
    <div class="col-sm-10">
      <div class="inp">
      <input type="tel" class="form-control" name="contact" id="contact" placeholder="Contact" required>
      </div>
    </div>
</div>
<div class="form-group row">
    <label for="addr" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <div class="inp">
      <input type="text" class="form-control" id="addr" name="addr" placeholder="Address" required>
      </div>
    </div>
</div>

  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Mode Of Payment</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="PayTm" >
          <label class="form-check-label" for="gridRadios1">
            PayTm
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Card_Payment">
          <label class="form-check-label" for="gridRadios2">
            Card Payment
          </label>
        </div>

        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Cash" >
          <label class="form-check-label" for="gridRadios3">
            Cash
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="Others" >
          <label class="form-check-label" for="gridRadios4">
            Others
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Delivery</legend>
      <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="By_Hand" name="delivery">
            <label class="form-check-label" for="inlineCheckbox1">By Hand</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Courier" name="delivery">
            <label class="form-check-label" for="inlineCheckbox2">Courier</label>
          </div>


      </div>
    </div>
  </fieldset>
<div class="btn">
  <div class="form-group row">
    <div class="col-sm-10" >

      <button type="submit" class="btn btn-primary" style="width:  140px;">Submit</button>
    </div>
  </div>
</div>
</form>

</div>

{% endblock content %}